.env
.vscode
*.pyc
venv*
env
*.tags*
__pycache__

.cache
_cache/*

# local development
database.db
*.db
*.db-journal

# Visual Studio Code
.vscode

instance
.coverage
.pytest_cache

yumroad/static/.webassets-cache
