wheel==0.37.1
setuptools==62.1.0

flask
requests
gunicorn

flask-sqlalchemy
Flask-WTF
Flask-Login
Flask-migrate
Flask-Mail
wtforms[email]

Flask-assets
cssmin
jsmin

sentry-sdk[flask]

Flask-RQ2
rq-dashboard
celery==5.2.7
click==8.1.3
rq==1.8.1

stripe
vcrpy

pytest
pytest-flask
pytest-cov

flake8
