wheel==0.37.1
setuptools==62.1.0

flask
requests
gunicorn

flask-sqlalchemy
Flask-WTF
Flask-Login
Flask-migrate
Flask-Mail
wtforms[email]

Flask-assets
cssmin
jsmin

stripe
vcrpy

pytest
pytest-flask
pytest-cov

flake8
