interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.stripe.com/v1/customers/cus_Ng84CNRBTFHcJ2
    response:
      body:
        string:
          "{\n  \"id\": \"cus_Ng84CNRBTFHcJ2\",\n  \"object\": \"customer\",\n
          \ \"address\": null,\n  \"balance\": 0,\n  \"created\": 1680998931,\n  \"currency\":
          null,\n  \"default_source\": null,\n  \"delinquent\": false,\n  \"description\":
          null,\n  \"discount\": null,\n  \"email\": \"testuser@gmail.com\",\n
          \ \"invoice_prefix\": \"746D5622\",\n  \"invoice_settings\": {\n    \"custom_fields\":
          null,\n    \"default_payment_method\": null,\n    \"footer\": null,\n    \"rendering_options\":
          null\n  },\n  \"livemode\": false,\n  \"metadata\": {},\n  \"name\": null,\n
          \ \"phone\": null,\n  \"preferred_locales\": [],\n  \"shipping\": null,\n
          \ \"tax_exempt\": \"none\",\n  \"test_clock\": null\n}"
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - "2022-11-15"
      status:
        code: 200
        message: OK
version: 1
