{% extends "base_layout.html" %}
{% block title %} {{ product.name }} - {{ product.store.name }} {% endblock %}
{% block brandtitle %} Detail {% endblock %}

{% block custom_assets %}
  {% if checkout_session_id %}
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        var stripe = Stripe('{{ stripe_publishable_key }}');
      </script>
    
    {% assets "purchase_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"> </script>
    {% endassets %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row mb-2">
    <div class="col col-12 col-sm-6">
      <img src="{{ product.primary_image_url }}" alt="Product Image" class="img-fluid img-thumbnail" />
    </div>
    <div class="co l col-12 col-sm-6">
      <h1> {{ product.name }} </h1>
      <hr />
      {% if checkout_session_id %}
          <button onclick="purchase(stripe, '{{checkout_session_id}}')" class="btn btn-primary"> Buy for {{ "${:,.2f}".format(product.price_cents/100.0) }} </button>
          <hr />
        {% else %}
          Sold out
        {% endif %}
      <span> {{ product.description }} </span>
      <hr />
      <a href="{{ url_for('store.show', store_id=product.store.id) }}" class="btn btn-secondary btn-sm">
        See more products from {{ product.store.name }} </a>
    </div>
  </div>
</div>
{% endblock %}
