{% from "_macros.html" import render_flashes %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %} | Yumroad
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% assets "common_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}

        {% assets "common_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"> </script>
        {% endassets %}

        {% block custom_assets %}

        {% endblock %}
        <meta name="csrf-token" content="{{ csrf_token() }}">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <span class="navbar-brand">
                <a href="{{ url_for('landing.index')}}" class="navbar-brand">Yumroad </a> <span>{% block brandtitle %}{% endblock %}</span>
            </span> 
            {% include '_navbar.html' %}
        </nav>
        

        {{ render_flashes() }}}

        <div class="container mt-3">
           {% block content %}{% endblock %}
       </div>
    </body>
</html>